analysis/
analysisOutput/
assemblies/
assembliesVSvie/
Blast_Results/
Blast_Results_Backup/
BlastReads/
Bowtie_Result/
CFAV/
classifiedAssemblies/
DB/
OutputData/
Figures/
Scratch_Results/
RefSeqTree/
Spades/
test/
trimmedAssemblies/
